.cartimg{
    width: 320px;
    height: 270px;
}
.cartbtn{
    font-weight: bolder;
    font-size: large;
    border-radius: 52px;
    padding: 0 !important;
    margin: 0 !important;
    height: 32px;
    width: 31px;
    
}
.gapbtn{
    gap: 14px;
}
    
